.container {
  padding: 3rem 0 5rem 0;
  box-sizing: border-box;
  position: relative;
  width: 588px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 8px;
}
