.search_container {
  width: 100%;
  max-width: 1150px;
  margin: 8rem auto 0 auto;
}

.search_keyword_box {
  border-radius: 20px;
  background: #000;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin-top: 2rem;

  color: #d1ff00;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

.filter_box {
  display: flex;
  gap: 3rem;
  height: 5.5rem;
  align-items: end;
}

.filter_dropdown_outer {
  position: relative;
  overflow: visible;
}

.filter_dropdown {
  position: relative;
  border-radius: 8px;
  background: #2f2d2d;

  width: 9.5rem;
  height: 2.5rem;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  padding-left: 1rem;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  cursor: pointer;
}

.click {
  color: #d1ff00;
}
.non_click {
  color: #ffffff;
}

.arrow_size {
  width: 20px;
  height: 15px;
  flex-shrink: 0;
  position: absolute;
  top: 30%;
  right: 1rem;
}

.filter_dropdown_contentbox {
  padding: 0.5rem 0 0.3rem 0;
  width: 100%;
  position: absolute;
  top: 85%;
  z-index: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #2f2d2d;
}
.dropdown_content_div {
  display: flex;
  padding: 0.3rem;
  gap: 0.5rem;
}

.dropdown_content_div_text {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.radio_checkbox {
  width: 0.7rem;
  height: 0.7rem;
  appearance: none;
  border-radius: 50%;
  border: 1px solid #999;
}
.radio_checkbox:checked {
  background: #d1ff00;
  border: none;
}

.is_visible {
  visibility: hidden;
}

.selected_outer {
  display: flex;
  gap: 1rem;
}

.x_box_size {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  cursor: pointer;
}
