.city_container {
  border: none;

  display: flex;
  flex-wrap: wrap;
  max-width: 725px;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  margin: 1rem auto 1.6rem auto;
}

.city_map_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 750px;
  color: #ffffff;
}
.city_map_count_num {
  color: #d1ff00;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.checkbox {
  width: 116px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 17px;

  border: 1px solid #d1ff00;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}
.not_checked {
  color: #d1ff00;
}
.checked {
  color: #000000;
  background: #d1ff00;
}

.checkbox_container {
  margin: 0 auto 0 auto;
}
