.parent_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  max-height: 800px;
  overflow: scroll;
}

@media screen and (max-width: 1024px) {
  .parent_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .parent_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .parent_container {
    grid-template-columns: 1fr;
  }
}

.bottom_container {
  height: 10rem;
}
