.container {
  margin-bottom: 10rem;
}
.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  padding-bottom: 0.7rem;
  border-bottom: 1px solid #9e9e9e;
}
.title_text {
  color: #d1ff00;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title_see_more {
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.parent_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .parent_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .parent_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .parent_container {
    grid-template-columns: 1fr;
  }
}
